---
layout: base.njk
title: EDI Plugin - Обмен данными между WooCommerce и 1С
---

{% include "header/header.njk" %}
{% include "hero/hero.njk" %}
{% include "problem-solution/problem-solution.njk" %}
{% include "features/features.njk" %}
{% include "testimonials/testimonials.njk" %}
{% include "pricing/pricing.njk" %}
{% include "faq/faq.njk" %}
{% include "cta/cta.njk" %}
{% include "footer/footer.njk" %}